<p>customer-dashboard works!</p>
<!--here have a nice h1 title labelled Secure banking solutions client dashboard-->
<h1>Secure Banking Solutions Client Dashboard</h1>

<!--here create the heading greeting(Hello) + (person's name)+ (today's moeny forecast)-->

<h2>Welcome, user! Here is today's money forecast:</h2>
<!-- Below the left container, have a 3-sentence explanation of what each button does //testing git -->
<div class="container padded-left">
    <h2>Navigation</h2>
    <p>Click on Menu for profile and banking details settings.</p>
    <p>Click on Transactions to view past payments and recipients.</p>
    <p>Click on Payments to make local and/or international payments.</p>
</div>

<!-- Container with navigation: menu, transactions, payment buttons -->
<div class="container padded-left">
    <button type="button" class="stacked-button">MENU</button>
    <button type="button" class="stacked-button">TRANSACTIONS</button>
    <button type="button" class="stacked-button">PAYMENTS</button>
</div>

<!-- Middle padding, have 3 containers with buttons and details -->
<div class="container">
    <div class="container padded-left">
        <button type="button" class="btn-with-icon">
            <img src="assets/local-payments.png" alt="Local Payment Icon" class="icon"> Local Payments
        </button>
    </div>
    <div class="container padded-right">
        <button type="button" class="btn-with-icon">
            <img src="assets/international-payments.png" alt="International Payment Icon" class="icon"> International Payments
        </button>
    </div>
</div>