<div class="container">
    <div class="form-container">
      <h1>Customer Registration Portal</h1>
      <p>Welcome and thank you for choosing us!</p>
      <p>We are delighted to welcome you to our international payment platform, where your financial transactions are handled with the utmost care and security.</p>
      <p>To get started, please register by providing your full name, ID number, account number, and a secure password.</p>
      
      <form #addCustomer="ngForm" (ngSubmit)="onAddNewCustomer(addCustomer)">
        <label for="fname">Full Name:</label>
        <input type="text" id="fname" name="fname" required
        ngModel minlength="2" 
        pattern="^[a-zA-Z\s'-]+$" 
        #enteredName="ngModel"> 
      
        <label for="idPassNo">ID/Passport Number:</label>
        <input type="text" ngModel name="idPassNo" required
        minlength="6"
        pattern="^[a-zA-Z0-9]{6,}$"
        #enteredIDPass="ngModel"> 
      
        <label for="accNo">Account Number:</label>
        <input type="number" ngModel name="accNo" required
        minlength="10" 
        pattern="^\d{10,}$" 
        #enteredAccNum="ngModel"> 
      
        <label for="uniquePassword">Password:</label>
        <input type="password" ngModel name="uniquePassword" required
        minlength="12" 
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{12,}$" 
        #enteredPasswd="ngModel">
      
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" ngModel name="confirmPassword" required
        minlength="12"
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{12,}$" 
        #enteredconfPasswd="ngModel">
      
        <button type="submit">Let's Get Started</button> 
      </form>
    </div>
  
    <div class="divider"></div>
  
    <div class="links">
      <h2>Read more on digital banking</h2>
      <a href="https://www.swift.com" target="_blank">SWIFT</a>
      <a href="https://www.forbes.com/advisor/banking/benefits-of-digital-banking/#:~:text=Here%20are%20some%20of%20the%20primary" target="_blank">5 Benefits Of Digital Banking</a>
    </div>
  </div>
  
