<p>customer-dashbaord works!</p>
<!--here have a nice h1 title labelled Secure banking solutions client dashbaord-->

<!--here create the heading greeting(Hello) + (person's name)+ (today's moeny forecast)-->

<!-- here below the left continer have a 3 sentence explaination
of what each button does -->
<!--here add the container with navigation:
menu, transactions, payment. make them buttons w/ icons so when a user 
clicks on menu they are taken to a menu for ie. Pad this container to the left-->

<!--in the middle padding, have 3 containers
1. has two icons w/ buttons (make local payment + make internation payment)
2. banking details in h2, icons with details such as Acc no + current balance
3. recent payments in h2 , show a list of past transaction(date, receipeint, amount, pay again button)-->
